{% extends "base.html" %}

{% block title%}{{user.username}} Profile {% endblock %}
{% block content%}
<button type="submit" value="Add ticket" class="btn btn-dark m-2">
    <a class="m-4" href="{% url 'Ticket:add_ticket' request.user.id %}">Add Ticket</a>
</button>
<br><br>
<div>
    <h5 class="text-center">Created by Self</h5>
    {%for a in tickets%}
    <div class="card">
        <p class='card-header '> Created by : {{ user.username }}</p>
        <div class="card-body">
            <a href=" {{a.get_absolute_url}}"> Ticket-{{a.id}}:{{ a.status}} </a> 
            <br>
        </div>
    </div>
    {%endfor%}
    <br><br>
</div>
<h5 class="text-center">Receiver To</h5>
{%for a in ticketss%}
<div class="card">
    <p class='card-header '> Receiver to : {{ user.username }}</p>
    <div class="card-body ">
        <a href=" {{a.get_absolute_url}}"> Ticket-{{a.id}}:{{ a.status}} </a> 
        <br>
    </div>
</div>
{%endfor%}
{% endblock %}