<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-link active" href="{% url 'account:login' %}">Home</a>
        {% if request.user.is_authenticated %}
        <a class="nav-link active" href="{% url 'account:logout' %}">Logout</a>
        {% else %}
        <a class="nav-link active" href="{% url 'account:login' %}">Login</a>
        <a class="nav-link active" href="{% url 'account:register' %}">Register</a>
        {% endif %}
    </div>
</nav>
