{% extends "base.html" %}

{% block title %}Detail Ticket {% endblock%}
{% block content%}
    <div class="m-2 border-3 border-dark alert-dark p-3">
        <h5 class="text-success">Created :{{tickets.user}} </h5> 
        <small>Date :{{tickets.date|date}}</small> 
        <br><br>
        <h6>Title :{{tickets.title}} | Ticket_ID: {{tickets.ticketID}}</h6>
        <p>Status :{{tickets.status}}</p>
        <p class="text-success">Receiver: {{tickets.receiverID}}</p>
    </div>
    <p class="m-4 text-primary ">This ticket has {{comments.count}} comments</p>
    <br>
    {% if request.user.is_authenticated%}
        <form action="" method="post" class=" m-3">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="Send" class="btn btn-primary">
            <br><br>
        </form>
    {%else%}
        <p> Not Login</p>
    {%endif%}
    {% for comment in comments%}
        <div class='card bg-dark text-white m-3'>
            <p class='card-header'>{{comment.user}}:</p>
            <p class='card-body'>{{comment.body}}</p>
            <div class="card-body">
                <form action="{% url 'Ticket:add_reply' tickets.id comment.id %}" method="post">
                    {%csrf_token%}
                    {{ reply.as_p}}
                    <input type="submit" value="Reply" class="btn btn-success">
                </form>
            </div>
            {% for reply in comment.rcomment.all %}
                <p class="btn-light p-4 m-5 bg-info">{{reply.user}}: <br> {{reply.body}}</p>
            {% endfor %}
        </div>
        <br>
        {%empty%}
            <br>
            <p class='text-center'> There is no Comment</p>    
    {% endfor%}
{% endblock%}
