{% extends 'base.html' %}
{% block title %} Tickets  {% endblock%}
{% block content %}
<br><br><br>
    {% for item in ticket_item %}
        <div class="card">
            <p class="card-header"> <a href="{% url 'account:dashboard' item.user.id%}">Created by:{{item.user}} | {{item.date|date}}</a> </p>
            <p class="card-body">Status : {{item.status}}</p>
        </div>
    {% endfor %}
{% endblock %}